*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

:root{
    --sidebar-clr : rgba(255, 255, 255);
    --performance-clr : #0F1322;
    --activity-clr : #95CFD9;
    --engagement-clr : #DABDA9;
    --icons-clr : #FE4C24;
    --hover-clr : #F3F1EF;
}

html,body{
    background-color: #0F1322;
    width: 100%;
    height: 100%;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
    outline: none;
}

.geral{
    background: white;
    border-radius: 30px;
    display: flex;
    width: 90%;
    height: 90%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.sidebar{
    border-radius: 30px 0 0 30px;
    text-align: center;
    padding: 20px;
    width: 15%;
    background: white;
}

.sidebar-title h2{
    font-weight: normal;
    font-size: 20px;
    margin-bottom: 20px;
    background: var(--engagement-clr);
    width: 30px;
    padding: 3px 0 3px 5px;
    border-radius: 5px;    
}

.profile{
    margin: 60px auto;
}

.profile img{
    width: 60px;
    height: 60px;
    margin-bottom: 5px;
}

.profile p{
    color: #0F1322;
    margin-bottom: 2px;
    font-weight: 550;
    font-size: 14px;
}

.profile span{
    letter-spacing: 2px;
    margin-bottom: 5px;
    color: #999;
    font-size: 13px;
}

.sidebar-links{
    margin-bottom: 50px;
}

.sidebar-links ul li{
    margin-bottom: 20px;
    text-align: left;
}

.sidebar-links a{
    color: #0F1322;
    font-weight: bold;
    font-size: 13px;
    transition: 400ms;
}

.sidebar-links a:hover{
    width: 50px;
    background-color: var(--hover-clr);
    padding: 10px;
    border-radius: 10px;
}

.active{
    width: 50px;
    background-color: var(--hover-clr);
    padding: 10px;
    border-radius: 10px;
}

.sidebar i{
    margin-right: 10px;
}

.exit a{
    color: gray;
    font-size: 12px;    
}

.content{
    padding: 8px 20px;
    overflow: hidden;
    width: 85%;
    background: #F3F1EF;
    border-radius: 40px 30px 30px 40px; 
}   

.performance-grafic{
    display: flex;
    justify-content: space-between;
}

.performance{
    margin-bottom: 10px;
    height: 300px;
    background: var(--performance-clr);
    width: 35%;
    padding: 20px 20px;
    color: white;
    border-radius: 30px;
}

.performance-title{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.performance-title h2{
    font-size: 20px;
}

.performance-title i{
    border: 1.5px solid #555;
    padding: 5px 8px;
    border-radius: 6px;
    cursor: pointer;
}

.performance-dice{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 30px;
    font-weight: bold;
}

.dice-primary{
    border-right: 1px solid #555;
    width: 40%;    
}

.dice-single{
    text-align: center;
}

.dice-single p{
    font-size: 20px;
}

.dice-single span{
    font-size: 12px;
    font-weight: normal;
    color: #555;
}

.perfomance-descriptions-single{
    display: flex;
    align-items: center;
    margin-bottom: 25px;
}

.performance-descriptions :last-child{
    margin-bottom: 0;
}

.perfomance-descriptions-single i{
    margin-right: 20px;
    font-size: 25px;
    color: white;
}

.perfomance-descriptions-single p{
    font-size: 13px;
}

.perfomance-descriptions-single span{
    font-weight: normal;
    color: #999;
}

.grafic{
    height: 300px;
    padding: 30px 20px;
    color: white;
    border-radius: 30px;
    width: 60%;
    background-color: var(--activity-clr);
}

.engagement{
    display: flex;
    align-items: center;
    gap: 20px;
    border-radius: 30px;
    width: 100%;
    padding: 10px;
    background: linear-gradient(90deg,#ebd7ca, #DABDA9);
}

.engagement-text{
    margin-right: 40px;
}

.engagement-text h2{
    font-size: 20px;
    color: var(--performance-clr);
    margin-bottom: 50px;
}

.engagement-text p{
    font-size: 13px;
}

.engagement-items-container{
    display: flex;
    align-items: center;
}

.engagement-items-single{
    margin-right: 30px;
    text-align: center;
    color: var(--performance-clr);
    width: 100%;
    background-color: white;
    padding: 20px;
    border-radius: 20px;
}

.engagement-items-single img{
    width: 50px;
    height: 50px;
    background-color: var(--icons-clr);
    padding: 10px;
    border-radius: 15px;
}

.engagement-items-single p{
    font-weight: bold;
    font-size: 15px;
    margin-bottom: 5px;
}

.engagement-items-single span{
    font-size: 30px;
    font-weight: bolder;
}

.engagement-items-single i{
    color: green;
    font-size: 20px;
}